.flexGrid {
    display: flex;
    border: 0px solid blue;
    justify-content: space-between;
}

.heading {
    border-bottom: 2px solid #fff;
    position: relative;
    background: #2f2f2f;
    color: #fff;
}

.flexHeading {
    display: flex;
    border: 0px solid blue;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    position: relative;
    background: #2f2f2f;
    color: #fff;
}

.flexContent {
    display: flex;
    border: 0px solid blue;
    justify-content: space-between;
    margin: 15px;
}

.content {
    margin: 15px;
}


@media(max-width: 550px) {

    .flexGrid {
        display: block;
    }



}