.root {
    background: rgb(0,0,0,.85);
    position: fixed;
    opacity: 0;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    transition: opacity .2s;
    display: flex;
    visibility: visible;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rootActive {
    opacity: 1;
}

.rootHidden {
    display: none;
    visibility: hidden;
}

.content {
    color:white;
    font-size: 28px;
    text-align: center;
    user-select: none;
} 