.root {
    display: inline-block;
    position: relative;
    border: 1px solid #c2e0ff;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 2px;
    background: rgba(0,126,255,.08);
    margin-left: 3px;
    position: relative;
    user-select: none;
    margin-top: 5px;
}

.actions {
    text-align: center;
    border-right: 1px solid rgba(0,126,255,.24);
    padding: 4px 5px 3px;
    position: relative;
    height: auto;
    margin:0;
    vertical-align: middle;
}

.text {
    padding: 2px 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

}

.actions:hover {
    background: rgba(0,113,230,.08);
    cursor: pointer;
}